.body{
    height: 100vh;
    background-color: black;

}

#mainHeader {
    background-image: url(./img/rick-and-morty-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10%;

}

#mainContent {
  padding: 1rem;
    height: 80%;
  background-color: lightgreen;
}
#mainPage {
  border-radius: 2rem;
  
  background-image: url(./img/wp5794980-rick-and-morty-4k-minimalist-wallpapers.jpg);
  background-size: cover;
  background-position: center; 
  overflow: hidden;
}

#mainFooter {
    color: white;
    height: 10%;
}


 
.card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



#singleEpisode_dataContainer {
    text-align: center;
    color: white;
}

#singleEpisode_infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#singleEpisode_charcatersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
    overflow: scroll;
}

@media (max-width: 650px) {
  #singleEpisode_charcatersContainer {
    height: 300px;
  }
}
.episodelink {
  color: lightgreen;
}


#modalCharacter_EpisodeBtnContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* overflow: scroll; */
  /* height: 450px; */
}

/* init footer */
.footerContainer {
    color: white;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
  }
  
  .footerLogoAIT {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
  }
  
  #footerAssemblerLink {
    background-image: url('./img/imageAIT.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 130px;
    height: 90%;
    border-radius: 1rem;
  }
  
  .footerAuthors {
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
  }
  
  .footerH3 {
    margin: 10px auto;
  }
  
  .authorLink {
    width: 60%;
    font-size: larger;
    height: 40%;
    text-decoration: none;
    position: relative;
    z-index: 0;
    display: inline-block;
    overflow: hidden;
    color: white;
    transition: color .3s ease-out;
  }
  
  .authorLink::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, red, lightgreen 100%);

  
    transform: translateY(calc(100% - 3px));
    transition: transform .25s ease-out;
  }
  
  .authorLink:hover {
    color: #fff;
  }
  
  .authorLink:hover::before {
    transform: translateY(0);
    transition: transform 0, 25s ease-in-out;
  }
  
  
  .footerOtherInfo {
    color: lightgreen;
    display: flex;
    width: 25%;
    justify-content: center;
    font-size: medium;
    text-align: right;
    align-items: center;
  
  }
  h4 {
    font-size: large;
  }
  
  @media (max-width: 650px) {

    .footerContainer {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
      }
    
      .footerLogoAIT {
        width: 33%;
       
      }
    
      #footerAssemblerLink {
        background-image: url('./img/AIT_SmallLogo.png');
        height: 60px;
        width: 60px;
      }
    
      .footerAuthors {
        color: white;
        width: 67%;  
        font-size: small;
      }
    
      .footerH3 {
        display: none;
        margin: 10px auto;
      }
    
      .footerOtherInfo {
        display: flex;
        width: 100%;
        text-align: center;
        font-size: 1rem;
      }

      h4 {
        margin: 1rem;
        font-size: small;
      }
  }
  
  /* finish footer*/
 