.body{
    height: 100vh;
    background-color: aqua;
}

#mainHeader {
    background-color: red;
    height: 10%;
}

#mainContent {
    height: 80%;
}

#mainFooter {
    background-color: red;   
    height: 10%;
}

.card {
    margin: 10px;
}

#singleEpisode_dataContainer {
    text-align: center;
}

#singleEpisode_infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#singleEpisode_charcatersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}